@model List<MPOS.Models.ModelReplenishments>
@{
    ViewBag.Title = "Replenishments";
}

<h2>Replenishments</h2>
<hr />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Assets/js/sweetalert.min.js"></script>
    <script src="~/Assets/js/ac-alert.js"></script>
</head>

<body>

    <div class="panel panel-info">
        <div class="panel-heading">
            <b> SELECT ITEMS FOR DAILY SALES</b>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        @Html.Label("Item", "Item", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("txtName", (SelectList)ViewBag.ItemID, "--SELECT ITEM--", htmlAttributes: new { @class = "form-control", @style = "width:500px" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Quantity", "Quantity", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <input type="number" id="txtQuantity" class="form-control text-center" style="width:100px" min="1" required="required" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="button" id="btnAdd" value="Add" class="btn btn-info" onclick="AddedItem()" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="button" id="btnRemoveAll" value="Remove All" class="btn btn-danger" onclick="RemoveAll()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SelectItemsToSell">
    </div>

    <link href="~/Assets/css/select2.min.css" rel="stylesheet" />
    <script src="~/Assets/js/select2.full.min.js" type="text/javascript"></script>
    <style>
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            display: none;
        }
    </style>

    <script type="text/javascript">

        $('#txtName').select2({ placeholder: "Select Item" });

        var UnitPrice = document.getElementById("txtQuantity");

        var invalidChars = [
            "-",
            "+",
            "e",
        ];

        UnitPrice.addEventListener("keydown", function (e) {
            if (invalidChars.includes(e.key)) {
                e.preventDefault();
            }
        });

        function AddedItem() {
            var itemQty = $("#txtQuantity").val();
            var id = $("#txtName option:selected").val();

            if (id > 0) {
                if (itemQty > 0) {
                    $("#SelectItemsToSell").load("/ItemTransactions/_SelectedToSell?id=" + id + "&itemQty=" + itemQty);
                    // Remove selected element in dropdown
                    var x = document.getElementById("txtName");
                    x.remove(x.selectedIndex);
                    //Clear Textbox
                    $("#txtQuantity").val('')
                }
                else {
                    swal("WARNING", "Quantity Cannot be Zero", "warning")
                }
            }
            else {
                swal("WARNING", "Please Select an Item", "warning")
            }

        }

        function RemoveAll() {
             $.ajax({
            type: 'POST',
                 url: '@Url.Action("RemoveAll", "ItemTransactions")',
                 success: function (result) {
                     location.reload();
                 }
        });
        }
    </script>
</body>
</html>