
@{
    ViewBag.Title = "EmployeeDetailedReport";
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
}
<br />
<p align="center" style="overflow-y:scroll;"><iframe style="overflow-y:scroll; overflow-x:scroll;" align="middle" runat="server" id="Service" src="~/Reports/WebForms/EmployeeDetailed.aspx" width="1359" height="1100" frameborder="0" allowfullscreen></iframe></p>

<style>
    .hover {
        background-color: #f2dede;
    }

    html {
        overflow: scroll;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .element::-webkit-scrollbar {
        width: 0 !important
    }
</style>